.mar {
    margin-top: 52px;
    margin-bottom: 66px;
    margin-left: 45px;
}

.main {
    height: 200px;
    width: 350px;
}

.sec {
    margin-left: 40px;
    margin-top: 5px;
}

.main1 {
    height: 350px;
    width: 1340px;
    margin-left: 100px;
    overflow: auto;
    position: relative;

 
    scrollbar-width: thin; 
    scrollbar-color: #4379F2 transparent; 

   
}
.main1::-webkit-scrollbar {
    width: 8px; 
}

.main1::-webkit-scrollbar-thumb {
    background-color: #4379F2; 
    border-radius: 10px; 
}

.main1::-webkit-scrollbar-button {
    display: none; 
}

.main1::-webkit-scrollbar-track {
    background: transparent; 
}

.event-item {
    margin-bottom: 15px; 
    padding: 10px; 
    background-color: #f9f9f9; 
    border-radius: 8px; 
}
