.fixed-width-grid {
    grid-template-columns: 100px 250px 350px 300px 100px;
}
::-webkit-scrollbar {
    width: 6px; 
}
::-webkit-scrollbar:horizontal {
    height: 6px; 
}
::-webkit-scrollbar-thumb {
    background-color: #D3D3D3; 
    border-radius: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 10px; 
}
html {
    scrollbar-width: thin; 
    scrollbar-color: #D3D3D3 #f1f1f1;
}