<div class="flex flex-col lg:flex-row gap-6 justify-between mx-8 lg:mx-32 my-10">
    <div class="flex flex-row justify-between gap-6 border border-blue-500 rounded-2xl p-8 bg-white shadow-lg border-2 w-full lg:w-72">
        <span class="text-blue-500 text-2xl">
            <i class="fa fa-users fa-4x"></i>
        </span>
        <div class="flex flex-col items-center gap-2">
            <h1 class="text-lg font-medium text-gray-600">TOTAL</h1>
            <h1 class="text-5xl font-bold text-gray-800">{{total}}</h1>
        </div>
    </div>
    <div class="flex flex-row justify-between gap-6 border border-blue-500 rounded-2xl p-8 bg-white shadow-lg border-2 w-full lg:w-72 ">
        <span class="text-blue-500 text-2xl">
            <i class="fa-regular fa-calendar-days fa-4x"></i>
        </span>
        <div class="flex flex-col items-center gap-2">
            <h1 class="text-lg font-medium text-gray-600">UPCOMING</h1>
            <h1 class="text-5xl font-bold text-gray-800">{{upcoming}}</h1>
        </div>
    </div>
    <div class="flex flex-row justify-between gap-6 border border-blue-500 rounded-2xl p-8 bg-white shadow-lg border-2 w-full lg:w-72 ">
        <span class="text-blue-500 text-2xl">
            <i class="fas fa-trophy fa-4x"></i>
        </span>
        <div class="flex flex-col items-center gap-2">
            <h1 class="text-lg font-medium text-gray-600">COMPLETED</h1>
            <h1 class="text-5xl font-bold text-gray-800">{{completed}}</h1>
        </div>
    </div>
</div>
<div class="lg:mx-32 lg:h-96 lg:w-5/6 h-60 w-80 mx-auto overflow-y-auto overflow-x-auto rounded-2xl">
    <div class="flex flex-col min-w-full min-h-full overflow-x-auto overflow-y-auto">
        <div class="bg-blue-600 text-white grid grid-cols-5 p-2 min-w-max fixed-width-grid">
            <p class="">#</p>
            <p class="">Guest Name</p>
            <p class="col-span-2">Event Name</p>
            <p class="">Date</p>
        </div>
            <div *ngFor="let upc of upCome; let i = index" class="bg-white text-black grid grid-cols-5 p-2 border-b min-w-max fixed-width-grid">
                <p class="">{{ i + 1 }}</p>
                <p class="">{{ upc.guestName }}</p>
                <p class="col-span-2">{{ upc.eventName }}</p>
                <p class="">{{ upc.eventDate }}</p>
            </div>
    </div>
</div>





