<div >
    <img [src]="'http://localhost:3000/uploads/' + detail[i].img" alt="">
    <p> <strong>NAME: </strong>{{detail[i].name}}</p>
    <p> <strong>DOMAIN: </strong>{{detail[i].domain}}</p>
    <p> <strong>EMAIL: </strong>{{detail[i].email}}</p>
    <p> <strong>VISITED DATE: </strong>{{detail[i].visitedDate}}</p>
    <p> <strong>COMPANY NAME: </strong>{{detail[i].companyName}}</p>
    <p> <strong>PHONE NUMBER: </strong>{{detail[i].phoneNumber}}</p>
    <p> <Strong>LINKEDIN: </Strong>{{detail[i].linkedIn}}</p>
    <p> <strong>DETAIL: </strong>{{detail[i].Detail}}</p>
    <!-- <p> <strong>ID: </strong>{{detail[i]._id}}</p>   -->
</div>