<div class="flex flex-row justify-center">
  <form (submit)="onSubmit()" #f="ngForm" class="p-4 w-full max-w-6xl mx-4 mt-8 mb-10">
    <div class="flex flex-row flex-wrap items-center justify-center gap-6">
      <div class="relative">
        <span class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
          <i class="fas fa-user text-gray-400"></i>
        </span>
        <input type="text" id="name-p" name="namep" placeholder="Guest Name" 
          class="pl-10 p-3 w-[245px] border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 transition duration-200" 
          ngModel>
      </div>
      <div class="relative">
        <span class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
          <i class="fas fa-building text-gray-400"></i>
        </span>
        <input type="text" id="company" name="company" placeholder="Company Name" 
          class="pl-10 p-3 w-[245px] border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 transition duration-200" 
          ngModel>
      </div>
      <div class="relative">
        <span class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
          <i class="fas fa-calendar-alt text-gray-400"></i>
        </span>
        <input type="date" id="date" name="date" 
          class="pl-10 p-3 w-[245px] border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 transition duration-200" 
          [ngModel]="todayDate">
      </div>
      <div class="relative">
        <span class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
          <i class="fas fa-globe text-gray-400"></i>
        </span>
        <input type="text" id="domain" name="domain" placeholder="Domain" 
          class="pl-10 p-3 w-[245px] border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 transition duration-200" 
          ngModel>
      </div>
    </div>
    <div class="flex justify-center mt-4">
      <button type="submit" 
        class="px-6 bg-blue-600 text-white py-2 rounded-md hover:bg-blue-700 focus:ring-2 focus:ring-blue-500 transition duration-200">
        Search
      </button>
    </div>
  </form>
</div>
