.fixed-width-grid {
    grid-template-columns: 80px 180px 300px 180px 100px 100px; 
}
@media (min-width: 1024px) {
    .fixed-width-grid {
        grid-template-columns: 60px 250px 350px 300px 140px 120px; 
    }
}
::-webkit-scrollbar {
    width: 6px; 
}
::-webkit-scrollbar:horizontal {
    height: 6px; 
}
::-webkit-scrollbar-thumb {
    background-color: #D3D3D3; 
    border-radius: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 10px; 
}
html {
    scrollbar-width: thin; 
    scrollbar-color: #D3D3D3 #f1f1f1;
}