<div>
  <app-search (fvalues)="onValue($event)"></app-search>
</div>
<div *ngIf="arrStatus; else elseBlock" class="ml-10 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-10">

  <div *ngFor="let arr of filteredProfiles"
  class="flex flex-col p-6 bg-white border border-gray-300 rounded-lg shadow-sm overflow-hidden transition-shadow duration-300 ease-in-out hover:shadow-lg"
>

      <div class="flex items-center mb-4">
        <img [src]="arr.img" alt="person-img" class="w-20 h-20 rounded-full object-cover mr-4 shadow-sm">
        <div class="flex-1">
          <p class="text-lg font-semibold text-gray-900 mb-1">{{ arr.name }}</p>
          <p class="text-sm text-gray-500">{{ arr.domain }}</p>
        </div>
      </div>
      <div class="space-y-2">
        <p class="text-sm text-gray-700"><strong>Email:</strong> {{ arr.email }}</p>
        <p class="text-sm text-gray-700"><strong>Visited Date:</strong> {{ arr.visitedDate | date:'MMMM d, yyyy' }}</p>
        <p class="text-sm text-gray-700"><strong>Company:</strong> {{ arr.companyName }}</p>
        <p class="text-sm text-gray-700"><strong>Phone:</strong> {{ arr.phoneNumber }}</p>
      </div>
      <button class="mt-6 w-full px-4 py-2 text-white bg-blue-600 rounded-md hover:text-blue-600 hover:bg-white focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50"
 
              (click)="openDetailView(arr._id)">
        VIEW
      </button>
  </div>
  
  
  <div *ngIf="detailStatus" class="fixed inset-0 flex justify-center items-center bg-black bg-opacity-50 z-50">
    <div class="relative bg-white w-[600px] max-h-[90vh] p-8 rounded-lg shadow-lg z-10 overflow-y-auto">
      <button class="absolute top-4 right-4 text-gray-500 hover:text-gray-700" (click)="closeDetailView()">
        <i class="fa-solid fa-xmark fa-2xl"></i>
      </button>
      <app-detailview [index]="pna"></app-detailview>
    </div>
  </div> 
   
</div>

<ng-template #elseBlock>
  <div class="flex justify-center items-center h-screen">
    <p class="text-center">No Data Found</p>
  </div>
</ng-template>